*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 14%, rgba(0,212,255,1) 100%); 
    color: white;
    font-family: sans-serif;
}

.container{
    width: 730px;
    display: flex;
    margin: 50px auto;
    border: solid 1px;
}

.tablero{
    border: solid yellow;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 51%, rgba(0,212,255,1) 100%); 
    padding: 10px;
}

button{
    width: 100px;
    height: 100px;
    font-size: 50px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.resultados{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 2%, rgba(9,9,121,1) 73%, rgba(2,0,36,1) 100%); 
    width: 100%;
    display: grid;
    place-items: center;
}  

#reset{
    width: 70%;
    font-size: 25px;
    border-radius: 30px;
    border: none;
}

.botonesTab{
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}